<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Purchase Order</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Purchase Order Detail</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Detail </li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <form class="form-sample">
                      <p class="card-description">Purchase Order Information</p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Order ID</label>
                            <div class="col-sm-9">
                              <input type="text"   placeholder="Order ID" class="form-control" value="9321600">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Customer Name</label>
                            <div class="col-sm-9">
                              <input type="text" placeholder="Customer Name" class="form-control" value="Henry Kent">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                              <input type="text" placeholder="Address" class="form-control" value="Nguyen Anh Thu st, 12 District, HCMC">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">OrderDatetime</label>
                            <div class="col-sm-9">
                              <input class="form-control" type="date" placeholder="dd/mm/yyyy" value = "1993-03-02">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Progess</label>
                            <div class="col-sm-9">
                               <label class="badge badge-danger">Pending</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Shipping Staff</label>
                            <div class="col-sm-9">
                              <input class="form-control" type="text" placeholder="Shipping staff" value = "Harry May">
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                                <p class="card-description"> page 1 </p>
                                </p>
                                <div class="table-responsive">
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Product Type</th>
                                        <th>Quantity</th>
                                        <th>Cost</th>
                                        <th>Importdate</th>
                                        <th>Detail</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td class="py-1">
                                          <img src="/assets/images/blog-img-02.jpg" alt="image">
                                        </td>
                                        <td>Carrot</td>
                                        <td>Fruit</td>
                                        <td>333</td>
                                        <td>6$</td>
                                        <td>May 15, 2021</td>
                                        <th>
                                          <button type="submit" class="btn btn-primary mr-2"> 
                                          <a> Delete </a>
                                          </button>
                                        </th>
                                        
                                      </tr>
                                      <tr>
                                        <td class="py-1">
                                          <img src="/assets/images/gallery-img-02.jpg" alt="image">
                                        </td>
                                        <td>Tomato</td>
                                        <td>Fruit</td>
                                        <td>451</td>
                                        <td>3$</td>
                                        <td>July 1, 2020</td>
                                        <th>
                                            <button type="submit" class="btn btn-primary mr-2"> 
                                              <a> Delete </a>
                                          </button>
                                        </th>
                                        
                                      </tr>
                                      <tr>
                                        <td class="py-1">
                                          <img src="/assets/images/gallery-img-01.jpg" alt="image">
                                        </td>
                                        <td>Cucumber</td>
                                        <td>Fruit</td>
                                        <td>635</td>
                                        <td>50$</td>
                                        <td>Apr 12, 2021</td>
                                        <th>
                                          <button type="submit" class="btn btn-primary mr-2"> 
                                                <a> Delete </a>
                                          </button>
                                        </th>
                                      
                                      </tr>
                                      <tr>
                                        <td class="py-1">
                                          <img src="/assets/images/gallery-img-05.jpg" alt="image">
                                        </td>
                                        <td>Bean</td>
                                        <td>Fruit</td>
                                        <td>343</td>
                                        <td>6.5$</td>
                                        <td>May 15, 2019</td>
                                        <th>
                                          <button type="submit" class="btn btn-primary mr-2"> 
                                              <a> Delete </a>
                                          </button>
                                        </th>
                                      </tr>
                                      <tr>
                                        <td class="py-1">
                                          <img src="/assets/images/blog-img.jpg" alt="image">
                                        </td>
                                        <td>Cabbage</td>
                                        <td>Vegetable</td>
                                        <td>120</td>
                                        <td>4.2$</td>
                                        <td>May 03, 2021</td>
                                        <th>
                                          <button type="submit" class="btn btn-primary mr-2"> 
                                              <a> Delete </a>
                                          </button>
                                        </th>
                                        
                                      </tr>
                                      <tr>
                                        <td class="py-1">
                                          <img src="/assets/images/gallery-img-03.jpg" alt="image">
                                        </td>
                                        <td>Pepper</td>
                                        <td>Vegetable</td>
                                        <td>321</td>
                                        <td>1.5$</td>
                                        <td>April 05, 2021</td>
                                        <th>
                                          <button type="submit" class="btn btn-primary mr-2"> 
                                              <a> Delete </a>
                                          </button>
                                        </th>
                                      </tr>
                                      <tr>
                                        <td class="py-1">
                                          <img src="/assets/images/gallery-img-04.jpg" alt="image">
                                        </td>
                                        <td>Azuki bean</td>
                                        <td>Vegetable</td>
                                        <td>120</td>
                                        <td>2.2$</td>
                                        <td>June 16, 2020</td>
                                        <th>
                                        <button type="submit" class="btn btn-primary mr-2"> 
                                              <a> Delete </a>
                                          </button>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                          </div>
                       </div>
                   </div>
                   <div class="row">
                              <div class="col-md-12">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Price</label>
                                      <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="total" value = "300$">
                                      </div>
                                    </div>
                              </div>
                               <div class="col-md-12">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Shipping Cost</label>
                                      <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="total" value = "5$">
                                      </div>
                                    </div>
                              </div>
                              <div class="col-md-12">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Discount</label>
                                      <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="discount" value = "30$">
                                      </div>
                                    </div>
                              </div>
                              <div class="col-md-12">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">VAT (10%)</label>
                                      <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="VAT" value = "20$">
                                      </div>
                                    </div>
                              </div>
                              <div class="col-md-12">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Total</label>
                                      <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="total" value = "290$">
                                      </div>
                                    </div>
                              </div>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2"> Delete </button>
                      <button type="submit" class="btn btn-primary mr-2"> Confirm </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
  