<div class="main-panel">
  
    <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Basic Tables</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Basic tables </li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>
                    <p class="card-description"> Add class <code>.table</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Order ID</th>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Total bill</th>
                            <th>Status</th>
                            <th>Detail</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>9321600</td>
                            <td>Harry Kent</td>
                            <td>Nguyen Anh Thu st, 12 District, HCMC</td>
                            <td>300$</td>
                            <td>
                              <label class="badge badge-danger">Pending</label>
                            </td>
                            <th>
                              <button type="submit" class="btn btn-primary mr-2"> 
                                  <a href ="/account/setting/detail/1"> Detail </a>
                               </button>
                            </th>
                          </tr>
                          <tr>
                            <td>9321600</td>
                            <td>Harry Kent</td>
                            <td>Nguyen Anh Thu st, 12 District, HCMC</td>
                            <td>300$</td>
                            <td>
                              <label class="badge badge-warning">Packaging</label>
                            </td>
                            <th>
                              <button type="submit" class="btn btn-primary mr-2"> 
                                  <a href ="/account/setting/detail/1"> Detail </a>
                               </button>
                            </th>
                          </tr>
                          <tr>
                            <td>9321600</td>
                            <td>Harry Kent</td>
                            <td>Nguyen Anh Thu st, 12 District, HCMC</td>
                            <td>300$</td>
                            <td>
                              <label class="badge badge-info">Delivering</label>
                            </td>
                            <th>
                              <button type="submit" class="btn btn-primary mr-2"> 
                                  <a href ="/account/setting/detail/1"> Detail </a>
                               </button>
                            </th>
                          </tr>
                          <tr>
                            <td>9321600</td>
                            <td>Harry Kent</td>
                            <td>Nguyen Anh Thu st, 12 District, HCMC</td>
                            <td>300$</td>
                            <td>
                              <label class="badge badge-success">Completed</label>
                            </td>
                            <th>
                              <button type="submit" class="btn btn-primary mr-2"> 
                                  <a href ="/account/setting/detail/1"> Detail </a>
                               </button>
                            </th>
                          </tr>
                          <tr>
                            <td>9321600</td>
                            <td>Harry Kent</td>
                            <td>Nguyen Anh Thu st, 12 District, HCMC</td>
                            <td>300$</td>
                            <td>
                              <label class="badge badge-warning">Packaging</label>
                            </td>
                            <th>
                              <button type="submit" class="btn btn-primary mr-2"> 
                                  <a href ="/account/setting/detail/1"> Detail </a>
                               </button>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
              
              
              
              
            </div>
          </div>
  </div>