<div class="main-panel">
  
    <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Purchase Order</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Purchase Order</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Purchase Order Setting </li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description"> Page 1 </p>
                    </p>
                    <form class="form-sample" action="/product/setting/filter" method="POST">
                      <div class="row">
                        <label class="col-sm-3 col-form-label">Product Name</label>
                        <div class="col-sm-9">
                          <input type="text" name="product_name" placeholder="Product Name" class="form-control" value="">
                        </div>
                        <label class="col-sm-3 col-form-label">Product Type</label>
                        <div class="col-sm-9">
                          <input type="text" name="product_type" placeholder="Product Type" class="form-control" value="">
                        </div>
                        <label class="col-sm-3 col-form-label">Sold</label>
                        <div class="col-sm-9">
                          <input type="number" name="sold" placeholder="Sold" class="form-control" value="">
                        </div>
                        <label class="col-sm-3 col-form-label">Quantity</label>
                        <div class="col-sm-9">
                          <input type="number" name="quantity" placeholder="Quantity" class="form-control" value="">
                        </div>
                        <label class="col-sm-3 col-form-label">Cost</label>
                        <div class="col-sm-9">
                          <input type="text" name="cost" placeholder="Cost" class="form-control" value="">
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary float-right m-3" name="product_id" value=""> Search
                          </button>
                        </div>
                      </div>
                   </form>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Order ID</th>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Order date</th>
                            <th>Status</th>
                            <th>Detail</th>
                          </tr>
                        </thead>
                        <tbody>
                           {{#each orders}}
                          <tr>
                            <td>{{ORDER_ID}}</td>
                            <td>{{CLIENT_ID}}</td>
                            <td>{{ADDRESS}}/td>
                            <td>{{ORDER_DATE}}</td>
                            <td>
                              <label class="badge badge-danger">Pending</label>
                               <label class="badge badge-info">Delivering</label>
                               <label class="badge badge-warning">Packaging</label>
                               <label class="badge badge-success">Completed</label>
                            </td>
                            <th>
                              <button type="submit" class="btn btn-primary mr-2"> 
                                  <a href ="/order/setting/detail/1"> Detail </a>
                               </button>
                            </th>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
              
              
              
              
            </div>
          </div>
  </div>